<div class="navbar-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="margin-right: 150px; font-size: 30px;">
                <b>MeanCoin</b>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/" style="font-size: 25px;">Home</a>
                    </li>
                    {{# if isLoggedIn}}
                    <li class="nav-item">
                        <a class="nav-link active" href="/wallet" style="font-size: 25px;">Wallet</a>
                    </li>
                    {{/ if }}
                </ul>
                {{# if isLoggedIn}}
                <div>
                    <form class="form-inline my-2 my-lg-0" action="/wallet/exit" method="GET">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#buyCoinModal">
                            Buy coin
                        </button>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#sendCoinModal">
                            Send coin
                        </button>
                        <button type="submit" class="btn btn-danger my-2 my-sm-0">
                            Exit wallet
                        </button>
                    </form>
                </div>
                {{ else }}
                <div>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Access wallet
                    </button>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#registerModal">
                        Create wallet
                    </button>
                </div>
                {{/ if }}
            </div>
        </div>
    </nav>
</div>

<!-- Modal access wallet -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/wallet/verify" method="POST" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Access Wallet</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Keystore file</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1" name="keyObject"
                            required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                            name="password" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal" data-bs-toggle="modal"
                        data-bs-target="#registerModal">Create wallet</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="test" type="submit" class="btn btn-primary">OK</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal create wallet -->
<div class="modal fade" id="registerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form action="/wallet/create" method="POST">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create wallet</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                            name="password" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">Access wallet</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">OK</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal send coin -->
<div class="modal fade" id="sendCoinModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form action="/wallet/create" method="POST">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Send MeanCoin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                            name="password" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">Access wallet</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">OK</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal buy coin -->
<div class="modal fade" id="buyCoinModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form action="/wallet/buy" method="POST">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="staticBackdropLabel">Buy MeanCoin</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form action="/wallet/buy" method="POST">
                            <div class="row">
                                <div class="col">
                                    <h4>Billing Address</h4>
                                    <div class="form-group mt-3 mb-3">
                                        <label class="form-label" for="fname"><i class="fa fa-user"></i> Full Name</label>
                                        <input class="form-control" type="text" id="fname" name="firstname" placeholder="John M. Doe">
                                    </div>

                                    <div class="form-group mb-3">
                                        <label class="form-label" for="email"><i class="fa fa-envelope"></i> Email</label>
                                        <input class="form-control" type="text" id="email" name="email" placeholder="john@example.com">
                                    </div>
                                    
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="adr"><i class="fa fa-address-card"></i> Address</label>
                                        <input class="form-control" type="text" id="adr" name="address" placeholder="542 W. 15th Street">
                                    </div>

                                     <div class="form-group mb-3">
                                        <label class="form-label" for="city"><i class="fa fa-university"></i> City</label>
                                        <input class="form-control" type="text" id="city" name="city" placeholder="New York">
                                    </div>

                                    <div class="row">
                                        <div class="col-5">
                                            <label class="form-label" for="state">State</label>
                                            <input class="form-control" type="text" id="state" name="state" placeholder="NY">
                                        </div>
                                        <div class="col-5">
                                            <label class="form-label" for="zip">Zip</label>
                                            <input class="form-control" type="text" id="zip" name="zip" placeholder="10001">
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <h3>Payment</h3>
                                    <label class="form-label mt-3" for="fname">Accepted Cards</label>
                                    <div class="icon-container"  style="font-size: 35px; margin-top: 0px;">
                                        <i class="fab fa-cc-visa" style="color:navy;"></i>
                                        <i class="fab fa-cc-amex" style="color:blue;"></i>
                                        <i class="fab fa-cc-mastercard" style="color:red;"></i>
                                        <i class="fab fa-cc-discover" style="color:orange;"></i>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="cname">Name on Card</label>
                                        <input class="form-control" type="text" id="cname" name="cardname" placeholder="John More Doe">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="ccnum">Credit card number</label>
                                        <input class="form-control" type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="expmonth">Exp Month</label>
                                        <input class="form-control" type="text" id="expmonth" name="expmonth" placeholder="September">
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label" for="expyear">Exp Year</label>
                                            <input class="form-control" type="text" id="expyear" name="expyear" placeholder="2018">
                                        </div>
                                        <div class="col">
                                            <label class="form-label" for="cvv">CVV</label>
                                            <input class="form-control" type="text" id="cvv" name="cvv" placeholder="352">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3 justify-content-center">
                                <label class="form-label" for="Amount">Amount</label>
                                <input class="form-control" type="number" id="amount" name="amount" placeholder="10" min="0" required>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">OK</button>
                </div>
            </div>
        </div>
    </form>
</div>